# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/


//todos esos archivos son respaldos, se pudeiran borra, pero se generar auto
//maticamente, 
//
//Los paquetes que están acá tiene ciertas caracteristicas del programa, como paquetes que 
//estan instalados en el programa